<!-- <h1 class="text-success">Hello From Test</h1>
<h3 [class]="successClass">Hello,{{name}}</h3>
<button (click)="onClick($event)">Greet</button>
{{greeting}}
<br>
<input #myInput type="text">
<button (click)="logMessage(myInput.value)">Log</button> -->
<!-- <br /> -->
<!-- <input  [id]="myId" type="text" value="Akiko"/>
<input bind-disabled="isDisabled"  id="{{myId}}" type="text" value="Akiko"/>
<h2 class="text-danger" [class]="successClass">Life</h2>
<h2 [class.text-danger]="hasError">Life</h2>
<h2 [ngClass]="messageClasses">Life</h2>  hasError: boolean = false 
 -->

 <!-- how to send data to and from parent -->
 <!-- <h2>{{"Hello " + name}}</h2> -->
 <!-- <h2>{{"Hello " + parentData}}</h2> -->
 <!-- <button (click)="fireEvent()">Send Event</button> -->
