<div class="container">
  <h1>Welcome To {{title}}</h1>
  <!-- example of selector being a class name -->
  <!-- <h3 [style.color]="hasError ? 'red' : 'green'">Style Binding </h3>
    <h3 [style.color]="highlightColor">Style Binding</h3>
    <h3 [ngStyle]="titleStyles">Style Binding</h3>
  -->
  <!-- here is how we send data to and from children  -->
  <!-- <app-test (childEvent)="message=$event" [parentData]="name"></app-test>
  <h2>{{message}}</h2> -->
  <!-- end -->
  <!-- <div class="app-test"></div>  -->
  <!-- style binding -->
  <!-- <app-binding></app-binding> -->
  <!-- <app-structural-directives></app-structural-directives> -->

  <!-- pipes -->
  <!-- <app-pipes></app-pipes> -->

  <!-- services -->
  <app-employee-detail></app-employee-detail>
<app-employee-list></app-employee-list>
</div>
